$default_font-family: "Arial";
$default_backbround: #f5f5f5;
$default_container_color: #ffffff;

@mixin container_layout($max-width: 1400px, $background: $default_container_color) {
    background: $background;
    max-width: $max-width;
    box-sizing: border-box;
    margin: auto;
}

@mixin title_font {
    font-family: $default_font-family;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
}

@mixin main_font {
    font-family: $default_font-family;
    font-size: 18px;
    line-height: 28px;
    color: #0d0d0d;
}

@mixin small-text_font {
    font-family: $default_font-family;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
