@import "@styles/variables.scss";

.container {
    @include container_layout();
    display: flex;
    flex-direction: column;
    margin: 0 100px;

    .container__titie {
        @include title_font();
        font-size: 42px;
    }

    .container__carousel_block {
        height: auto;
        display: flex;
        flex-direction: row;
        padding-bottom: 70px;
    }
}

.swiper_card {
    margin: 0 !important;
}

@media screen and (max-width: 890px) {
    // .main_container {
    // }
}
