@import "@styles/variables.scss";

.header {
    @include container_layout();
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: #ffffff;
    border-bottom: #f3f3f3 2px solid;

    .header__logo_block {
        height: 42px;
        width: 130px;
        display: flex;
        align-items: center;
        margin-left: 100px;

        .header__logo_text {
            color: $default_text_color;
        }
    }

    .header__menue_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 350px;

        .menue_block__item {
            @include small-text_font();
            color: $default_text_color;
            transition: all 0.3s;
            display: inline;
            padding-bottom: 47px;
            border-bottom: 3px solid transparent;

            &:hover {
                border-color: #518581;
                color: #518581;
            }
        }
    }

    .header__user_block {
        margin-right: 100px;
        display: flex;
        align-items: center;

        a {
            margin-left: 30px;
            cursor: pointer;
        }
    }
}

.main_container {
    @include container_layout();
    min-height: 90vh;

    .title_block {
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: space-around;
        height: 250px;

        .title_block__title {
            margin: auto;
            font-size: 64px;
        }

        .title_block__description {
            @include small-text_font();
            margin: auto;
            max-width: 500px;
            text-align: center;
            color: #afadb5;
        }
    }

    .search_block {
        display: flex;
        margin: 70px 100px;

        .search_block__input {
            max-width: 1020px;
            width: 100%;
            border: none;
            height: 80px;
            box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.6);
            border: 3px solid transparent;
            font-size: 28px;
            box-sizing: border-box;
            padding-left: 70px;
            background-image: url(./images/search.png);
            background-repeat: no-repeat;
            background-position: 15px;

            &:focus {
                border-color: #518581;
                outline: none;
                border-radius: 7px;
            }
        }

        .search_block__filter_button {
            @include small-text_font();
            display: flex;
            width: 190px;
            height: 80px;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
            box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.6);
            box-sizing: border-box;
            cursor: pointer;

            svg {
                margin-right: 10px;
            }
        }
    }

    .content_block {
        margin: 30px 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .content_block__title {
            @include title_font();
            font-size: 44px;
            position: relative;
            width: 260px;

            .title__sub {
                @include small-text_font();
                font-weight: 700;
                position: absolute;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                top: 0;
                right: -50px;
                width: 45px;
                height: 30px;
                color: #518581;
                background: #f9f9f9;
                border-radius: 20px;
            }
        }
    }
}
